<tr>
  <td style="padding-bottom: 24px; border-bottom: 1px solid #c6c6c6">
    <table
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
    >
      <!-- Text section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 10px">
          <p
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            "
          >
            Добрый день! На связи команда Octo Browser.
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <p
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            "
          >
            Количество доступных профилей подходит к концу. Чтобы создавать
            больше профилей и получить доступ к дополнительным функциям Octo
            Browser, вам нужна подписка следующего уровня. Изменить подписку
            можно в настройках аккаунта:
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            role="presentation"
          >
            <tr>
              <td class="main-block__img" align="center">
                <img
                  src="https://i.ibb.co/V9SRRnL/img-4.png"
                  width="536"
                  height="310"
                  alt="#"
                  border="0"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 10px">
          <span
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #727272;
            "
          >
            Что вы получите?
          </span>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <ul
            style="
              padding: 0;
              padding-left: 18px;
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            "
          >
            <li>Больше тегов в профилях;</li>
            <li>Больше шаблонов профилей;</li>
            <li>Больше запросов к API в минуту;</li>
            <li>Больше членов команды с доступом к профилям.</li>
          </ul>
        </td>
      </tr>
      <!-- Button/link section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <table border="0" cellspacing="0" cellpadding="0" role="presentation">
            <tr>
              <td
                class="btn"
                style="
                  background: #1890ff;
                  text-align: center;
                  border-radius: 4px;
                "
              >
                <a
                  href="#"
                  title="Ссылка на #"
                  target="_blank"
                  rel="noopener"
                  style="
                    text-align: center;
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 700;
                    color: #ffffff;
                    background: #1890ff;
                    border: 1px solid #1890ff;
                    padding: 15px 19px;
                    text-decoration: none;
                    display: inline-block;
                    border-radius: 4px;
                  "
                >
                  &nbsp;Выбирайте тариф&nbsp;
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Button/link section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <p
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            "
          >
            И помните, при оплате за 3, 6 и 9 месяцев — действуют скидки.
            Повысить подписку до уровня Custom можно связавшись с нашей
            техподдержкой в виджете клиента.
          </p>
        </td>
      </tr>
      <!-- End Text section -->
    </table>
  </td>
</tr>
